<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Janid Ham | Portafolio</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="./css/main.css">
	<!--
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
	-->
</head>
<body>
	
	<header class="header">
		
		<div class="header-mobile">
			<h1 class="header-logo">Janid Ham <span>Full Stack Developer</span></h1>
			<button id="btnMenu" class="header-btn-nav"><i class="fa fa-bars"></i></button>	
		</div>
		
		<nav class="header-menu-navbar">
			
			<ul id="navbarMenu" class="header-menu-list">
				<li class="header-menu-list-item" >
					<a href="#social">Inicio</a>
				</li>
				<li class="header-menu-list-item" >
					<a href="#about-me">Sobre mí</a>
				</li>
				<li class="header-menu-list-item" >
					<a href="#cv">Curriculum</a>
				</li>
				<li class="header-menu-list-item" >
					<a href="#courses">Cursos</a>
				</li>
				<li class="header-menu-list-item" >
					<a href="/blog">Blog</a>
				</li>
			</ul>

		</nav>

	</header>

	<article class="content">
		
		<section class="content-social-media" id="social">
				
				<div class="content-block-avatar">
					<picture>
						<source media="(min-width: 768px)" srcset="img/janid_ham.jpg">
						<source media="(min-width: 320px)" srcset="https://pbs.twimg.com/profile_images/500833245890883584/WF5Vs3LO.jpeg">
						<img src="https://pbs.twimg.com/profile_images/500833245890883584/WF5Vs3LO.jpeg" alt="Janid Ham" width="120" height="120">
					</picture>
				</div>

				<div class="content-block-social-media">
					<ul class="content-block-social-media-list">
						<li class="content-block-social-media-list-item" >
							<a target="_blank" href="https://www.linkedin.com/in/janidham"><i class="fa fa-linkedin"></i></a>
						</li>
						<li class="content-block-social-media-list-item" >
							<a target="_blank" href="https://github.com/JanidHam"><i class="fa fa-github"></i></a>
						</li>
						<li class="content-block-social-media-list-item" >
							<a target="_blank" href="https://www.facebook.com/janid.ham"><i class="fa fa-facebook-square"></i></a>
						</li>
						<li class="content-block-social-media-list-item" >
							<a target="_blank" href="https://twitter.com/janidham"><i class="fa fa-twitter-square"></i></a>
						</li>
					</ul>
				</div>

				<div class="content-block-text">
					<h2>Janid Ham | Full Stack Developer</h2>
					<p><a href="mailto:janid_ham@hotmail.com"><i class="fa fa-envelope-o"></i> janid_ham@hotmail.com</a>  |  <i class="fa fa-phone"></i> 9811182470</p>
					<p>Amante de JavaScript, conocimientos en NodeJS, Python, Java, C#, Android, IOS, MongoDB, Redis.</p>

				</div>

		</section>
		
		<section class="content-about-me" id="about-me">
			
			<div class="content-about-me-im">
				<h3>¿Quién soy?</h3>
				<p>Me llamo Janid Ham, soy Ingeniero en Sistema de Información por la Universidad Interamericana para el Desarrollo (UNID) Sede Campeche y Desarrollador Web Full-Stack.</p>
				<h3>¿A qué me dedico?</h3>
				<p>Actualmente me encuentro enfocado a las tecnologías Web y Mobile.</p>
				<p>
				Soy un apasionado del desarrollo web, tanto mobile como desktop, mas centrado en la parte Back-End (Django, NodeJS, SailsJS, PHP), me gusta la parte Front-End (HTML5, CSS3, JS, Responsive Design), en la parte mobile estoy mas centrado en Android, con conocimientos básicos en Swift, en lo que respecta a las bases de datos manejo MySQL, SQLServer, MongoDB, Redis.
				</p>
			</div>

		</section>
		
		<section class="content-cv" id="cv">
			<h3>Curriculum</h3>

			<div class="content-cv-introduction">
					<h4>Introducción</h4>
					<p>
					Desarrollador web Full-Stack (Back-End y Front-End) con varios años de experiencia en desarrollo web y desarrollador en Android con 2 años de experiencia.
					Actualmente me encuentro trabajando para el CREE de Campeche, soy el Líder de Desarrollo Web, y adicionalmente hago proyectos fuera de la institución por mí cuenta.
					</p>
			</div>

			<div class="content-cv-experience">
					<h4>Experiencia</h4>
					
					<h5><i class="fa fa-building-o"></i> CREE Campeche <span class="state">- Campeche, México</span></h5>
					<h6>Líder de Desarrollo Web - Feb 2015 (Actual)</h6>
					<p>Encargado de todo el desarrollo de software del CREE Campeche, para el desarrollo de sistemas usamos como lenguaje principal Python con Django como Framework, de la mano con NodeJS usando Socket.IO para la parte de tiempo real, diseño y mantenimiento de la base de datos usando como motor principal MySQL, y la administración de servidores.
					Proyecto principal: Expediente Electrónico.
					</p>
					
					<h5><i class="fa fa-building-o"></i> Digma <span class="state">- Campeche, México</span></h5>
					<h6>Ingeniero de Desarrollo - Nov 2015 (Actual, medio tiempo)</h6>
					<p>Desarrollo de aplicaciones tanto Web como Mobile, en la parte de desarrollo web usamos PHP y CakePHP como framework, en la parte mobile me enfoco al desarrollo de aplicaciones Android. Ej. de aplicación Android desarrollado por mí es <a href="https://play.google.com/store/apps/details?id=com.digma.masquerade.mazda">Masquerade Mazda</a>, la pueden encontrar en google play store.</p>

					<h5><i class="fa fa-building-o"></i> Sahfer Co. <span class="state">- Campeche, México</span></h5>
					<h6>Ingeniero de Desarrollo - Sep-Nov 2014-2015 (14 meses)</h6>
					<p>Desarrollaba aplicaciones Desktop y Web usando C# como lenguaje de programación, administración de base de datos, usando SQL Server como motor de base de datos y dar mantenimiento y soporte a las ya desarrolladas aplicaciones.</p>

					<h5><i class="fa fa-building-o"></i> MisRentas.mx <span class="state">- Campeche, México</span></h5>
					<h6>Marketing y Estrategía Digital Jul-Oct 2014 (4 meses)</h6>
					<p>Encargado del marketing y estrategia digital de MisRentas.mx, crear y supervisar las campañas en google, bing y facebook.</p>

			</div>

		</section>
		
		<section class="content-courses" id="courses">
			<h3>Cursos</h3>
			<div class="content-courses-items">

				<div class="content-courses-item">
					<h5 class="content-courses-item-title">Frontend Profesional by Platzi</h5>
				</div>

				<div class="content-courses-item">
					<h5 class="content-courses-item-title">JavaScript y JQuery by Platzi</h5>
				</div>

				<div class="content-courses-item">
					<h5 class="content-courses-item-title">ReactJS by Platzi</h5>
				</div>

				<div class="content-courses-item">
					<h5 class="content-courses-item-title">HTML5 y CSS3 by Platzi</h5>
				</div>

				<div class="content-courses-item">
					<h5 class="content-courses-item-title">Responsive Design by Platzi</h5>
				</div>

				<!-- 
				<ul>
					<li>
						<h5>Frontend Profesional by Platzi</h5>
					</li>
					<li>
						<h5>JavaScript y JQuery by Platzi</h5>
					</li>
					<li>
						<h5>ReactJS by Platzi</h5> 
					</li>
					<li>
						<h5>HTML5 y CSS3 by Platzi</h5>
					</li>
					<li>
						<h5>Responsive Design by Platzi</h5>
					</li>
				</ul>
 -->
			</div>

		</section>

	</article>

	<script src="./js/bundle.js"></script>
	
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-73600309-1', 'auto');
	  ga('send', 'pageview');

	</script>

</body>
</html>