@import './normalize.css'
@import './reset'

$white = rgba(255,255,255,.95)
$colorMenu = #212121
$menu_border = #c5cad9
$menu_color = #7b8087
$menu_item_bckg = #f2f3f7
$menu_item_blue = #0f97f9
$title_job = #224B69

$transitionTime = 0.3s


body
	font-family 'Lato'
	font-size 16px

@import './header'
@import './content'
